# configuration file for cryoscope
# 

IMDIR=/images
LOGPATH=/home/user/logs/
BASENAME=cryoscope
DIRMODE=0077
TM_ZONE_LOG=UTC                    # time zone for log entries only, can be "UTC" or "local"
TM_ZONE=UTC                        # time zone for everything else, can be "UTC" or "local"
TZ_ENV=PST8PDT,M3.2.0/2,M11.1.0/2  # TZ ENV variable to use when TM_ZONE_* is "local" (follows POSIX standard)
AUTODIR=yes
LONGERROR=false

EMULATOR_PORT=3032
EMULATOR_SYSTEM=/home/user/Software/acf/cryoscope.system

ARCHON_IP=10.0.0.2
ARCHON_PORT=4242
DEFAULT_FIRMWARE=/home/user/Software/acf/cryoscope.acf
EXPOSE_PARAM=Expose              # Archon parameter which triggers exposure
LONGEXPOSE_PARAM=longexposure    # defining a parameter indicates support for longexposure
NBPORT=3050                       # server non-blocking port
BLKPORT=3051                      # server blocking port
MESSAGEPORT=3052
MESSAGEGROUP=239.1.1.235
ASYNCPORT=3052                   # for forward compatibility
ASYNCGROUP=239.1.1.235           # for forward compatibility

READOUT_TIME=10000

# yes|no (true|false also accepted): do alternating channels read out in
# alternating directions?
#
BIDIRECTIONAL_READOUT=false

# MODE settings
# MODE=(<name> <param>)
# where <name> is the name used to select a given mode,
#              and is defined in the .acf file as MODE_<name>
#       <param> is the Archon parameter name set to select the mode
#
MODE=(VIDEORX Mode_VideoRX)
MODE=(VIDEORXR Mode_VideoRXR)
MODE=(UTR_RR Mode_UTR_RR)
MODE=(GUIDING Mode_Guiding)
MODE=(ENHANCEDRR Mode_EnhancedRR)
MODE=(VIDEORX Mode_VideoRX)

